body {
	font-family: Arial, Sans-Serif;
	margin: 0;
	padding: 0;
	display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

p {
	padding: 10px;
	font-size: 24px;

}
main {
    flex: 1;
}
footer {
    background-color: #333; /* Adjust to match your color scheme */
    color: #fff; /* Adjust to match your color scheme */
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
	max-width: 100px;
}

header h1 {
    position: absolute;
    left: 45%;
    margin: 0;
}

nav {
	background-color: #444;
	overflow: hidden;
}

nav a {
	color: white;
	display: block;
	float: left;
	padding: 14px 20px;
	text-align: center;
	text-decoration: none;
}

nav a:hover{
	background-color: #555;
}

/* Slideshow container */
.slideshow-container {
	max-width: 500px;
	position: relative;
	margin: auto;
	padding-top: 20px;
  }
  
  /* Hide the images by default */
  .mySlides {
	display: none;
  }
  
  /* Caption text */
  .text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
  }
  
  /* Fading animation */
  .fade {
	animation-name: fade;
	animation-duration: 0.5s;
  }
  
  @keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }

.flex_container{
    display: flex;
    flex-flow: row wrap;
	justify-content: center;
	flex: 1;
}

.flex_child{
    flex: 1;
}

.welcome-text{
	padding-right: 50px;
}

.picture{
	padding: 10px;
}

#Img01, #Img02, #Img03 {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
  }
  
#Img01:hover, #Img02:hover, #Img03:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption01, #caption02, #caption03 {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption01, #caption02, #caption03 {  
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
	from {-webkit-transform:scale(0)} 
	to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
	from {transform:scale(0)} 
	to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close01, .close02, .close03 {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
  }
  
  .close01:hover,
  .close01:focus,
  .close02:hover,
  .close02:focus,
  .close03:hover,
  .close03:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 600px){
    .modal-content {
        padding: 10px; /* Add padding to the modal content */
        margin: 0 auto; /* Center the modal content */
        max-width: calc(100% - 20px); /* Ensure the modal content does not exceed the screen width */
    }
    nav {
        float: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav a {
        float: none;
        width: 100%;
        text-align: center;
		font-size: 1.3em;
        padding: 10px 0;
    }

	.flex_container {
        flex-direction: column;
		margin: 10px;
    }
    .welcome-text {
        padding-right: 0;
		font-size: 1em;
    }
	.picture {
        width: 100%;
        padding: 10px 0;
        box-sizing: border-box;
    }
    .picture img {
        width: 100%;
        height: auto;
    }

	.flex_child {
        width: 100%; /* Ensure the flex child takes full width */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }
	.flex_child p {
        font-size: 1em;
    }
    iframe {
        width: 100%; /* Make the iframe responsive */
        height: auto; /* Adjust the height automatically */
    }
  }

  /* Increase navigation text size for screens between 900px and 1400px */
@media only screen and (min-width: 600px) and (max-width: 1200px) {
    nav a {
        font-size: 2em; /* Adjust the font size as needed */
    }

    .flex_child {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
    }

	.flex_child p {
        font-size: 1.3em;
    }
    iframe {
        width: 100%;
        height: auto;
    }

	.welcome-text {
        margin-left: 10px; /* Adjust the margin as needed */
		font-size: 1.3em;
    }

}